$whiteColor: #FFFFFF;
$blackColor: #111111;
$accentColor: #de4242;
$accentColorHover: #c43838;

$mainLetterSpacing: 0.3px;

$mainShadow: 0 2px 4px rgb(0 0 0 / 22%);

$mainTransition: all .25s cubic-bezier(.4, 0, .2, 1);


$colorBeigeOption1: #e0c6b0;
$colorBlueOption1: #2eafff;
$colorBlueOption2: #2b51ee;
$colorBlueOption3: #00a8ef;
$colorBrownOption1: #7c6153;
$colorBrownOption2: #65442f;
$colorGrayOption1: #808080;
$colorGreenOption1: #95d050;
$colorGreenOption2: #08d090;
$colorGreenOption3: #00ab07;
$colorGreenOption4: #b3ee74;
$colorGreenOption5: #0cc514;
$colorGreenOption6: #04a108;
$colorGrayOption2: #7c6153;
$colorOrangeOption1: #fc8504;
$colorOrangeOption2: #fc6304;
$colorPinkOption1: #e03a88;
$colorRedOption1: #da4747;
$colorRedOption2: #c93f3f;
$colorRedOption3: #c42222;
$colorRedOption4: #e70000;
$colorRedOption5: #D74F61;
$colorRedOption6: #e80000;
$colorRedOption6: #ea5b5b;
$colorRedOption7: #d70000;
$colorYellowOption1: #F2AE48;
$colorYellowOption2: #F8E470;
$colorYellowOption3: #f2ca48;
$colorYellowOption4: #ece6b8;
$colorYellowOption5: #f3e9ab;
$colorYellowOption6: #fcd738;
$colorYellowOption7: #ffebb9;


