.header{
  padding: 20px 0 10px;
}

.logoWrapper{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: default;
}

.logoIconWrapper{
  margin-right: -5px;
}

.logoText{
  font-weight: 600;
  font-size: 32px;
}

.logoAccent{
  color: #de4242;
}
