@import-normalize;

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div.ant-typography,
span.ant-typography,
button{
  margin: 0 !important;
  font-family: "Poppins", sans-serif !important;
}

h1.ant-typography{
  font-size: 36px;
}

h2.ant-typography{
  font-size: 30px;
}

h3.ant-typography{
  font-size: 16px;
}

div.ant-typography,
span.ant-typography{
  font-size: 13px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  height: auto;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 767px){
  .ant-modal-root .ant-modal{
    width: 448px !important;
    max-width: calc(100vw - 32px);
  }
}
